# v1.19.1
BIND=:{{ anubis_listen_port | default(9000) }}
BIND_NETWORK=tcp
DIFFICULTY=4
METRICS_BIND=:9001
METRICS_BIND_NETWORK=tcp
SERVE_ROBOTS_TXT=0
TARGET=http://localhost:{{ anubis_target_port | default(3000) }}
POLICY_FNAME=/etc/anubis/botPolicies.yaml
#Redirect domains separated by comma
REDIRECT_DOMAINS="{{ apache_hostnames | join(',') }}"
ALGORITHM="fast"
COOKIE_EXPIRATION_TIME=72h
OG_PASSTHROUGH=false
