<VirtualHost *:80>
  Header set Access-Control-Allow-Origin "*"
  ServerName {{ apache_hostnames[0] }}
  ErrorLog /etc/httpd/logs/{{ apache_hostnames[0] }}_80-error.log
  CustomLog /etc/httpd/logs/{{ apache_hostnames[0] }}_80-access.log combined
  Redirect permanent / https://{{ apache_hostnames[0] }}/
</VirtualHost>

# HTTPS listener that forwards to Anubis
<VirtualHost *:443>
  ServerName {{ apache_hostnames[0] }}

  ErrorLog /var/log/httpd/avalon/anubis-{{ apache_hostnames[0] }}_error_log
  CustomLog /var/log/httpd/avalon/anubis-{{ apache_hostnames[0] }}_access_log combined

  # Protocol, CipherSuite, and OCSP config in /etc/httpd/conf.d/ssl.conf

  SSLEngine on
  SSLCertificateFile /etc/letsencrypt/live/{{ (certbot_certificates | dict2items)[0].key }}/cert.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/{{ (certbot_certificates | dict2items)[0].key }}/privkey.pem
  SSLCertificateChainFile /etc/letsencrypt/live/{{ (certbot_certificates | dict2items)[0].key }}/chain.pem

  # These headers need to be set or else Anubis will
  # throw an "admin misconfiguration" error.
  RequestHeader set "X-Real-Ip" expr=%{REMOTE_ADDR}
  RequestHeader set X-Forwarded-Proto "https"

  ProxyPreserveHost On

  ProxyRequests Off
  ProxyVia Off

  AllowEncodedSlashes NoDecode

  ProxyPass / http://localhost:{{ anubis_listen_port | default(9000) }}/ nocanon
  ProxyPassReverse / http://localhost:{{ anubis_listen_port | default(9000) }}/ nocanon
</VirtualHost>

Listen 3001
<VirtualHost localhost:3001>
  # Anubis callback
  ServerName avalon-test.library.ucla.edu

  ErrorLog /var/log/httpd/avalon/{{ apache_hostnames[0] }}_3001-error_log
  CustomLog /var/log/httpd/avalon/{{ apache_hostnames[0] }}_3001-access_log combined

  ProxyPreserveHost On

  # HLS
  ProxyPass /avalon/ http://localhost:8880/avalon/
  ProxyPassReverse /avalon/ http://localhost:8880/avalon/

  # Avalon
  ProxyPass / http://localhost:3000/
  ProxyPassReverse / http://localhost:3000/
</VirtualHost>
