BUCKETEER.S3.BUCKET={{ bucketeer.s3.bucket }}
BUCKETEER.S3.REGION={{ bucketeer.s3.region }}
BUCKETEER.S3.SECRET.KEY={{ bucketeer.s3.secret.key }}
BUCKETEER.S3.ACCESS.KEY={{ bucketeer.s3.access.key }}
BUCKETEER.FS.MOUNT={{ bucketeer.fs.mount }}
BUCKETEER.FS_PREFIX={{ bucketeer.fs.prefix }}
HTTP.MAX.QUEUE.SIZE={{ http.max.queue.size }}

