LAMBDA.S3.BUCKET={{ lambda_s3_bucket }}
BUCKETEER.S3.BUCKET={{ bucketeer_s3_bucket }}
BUCKETEER.S3.REGION={{ bucketeer_s3_region }}
BUCKETEER.S3.SECRET.KEY={{ bucketeer_s3_secret_key }}
BUCKETEER.S3.ACCESS.KEY={{ bucketeer_s3_access_key }}
BUCKETEER.FS.MOUNT={{ bucketeer_fs_mount }}
BUCKETEER.FS.PREFIX={{ bucketeer_fs_prefix }}
CDN.DISTRIBUTION.ID={{ cdn_distribution_id }}
BUCKETEER.SLACK.OAUTH.TOKEN={{ bucketeer_slack_oauth_token }}
BUCKETEER.SLACK.ERROR.CHANNEL_ID={{ bucketeer_slack_error_channel_id }}
BUCKETEER.SLACK.CHANNEL_ID={{ bucketeer_slack_channel_id }}
BUCKETEER.IIIF.URL={{ bucketeer_iiif_url }}
HTTP.MAX.QUEUE.SIZE={{ http_max_queue_size }}

