BUCKETEER.S3.BUCKET={{ bucketeer_s3_bucket }}
BUCKETEER.S3.REGION={{ bucketeer_s3_region }}
BUCKETEER.S3.SECRET.KEY={{ bucketeer_s3_secret.key }}
BUCKETEER.S3.ACCESS.KEY={{ bucketeer_s3_access.key }}
BUCKETEER.FS.MOUNT={{ bucketeer_fs_mount }}
BUCKETEER.FS_PREFIX={{ bucketeer_fs_prefix }}
HTTP.MAX.QUEUE.SIZE={{ http_max_queue.size }}

