version: '3.4'
services:
  bucketeer:
    image: uclalibrary/bucketeer:{{ dockerhub_tag }}
    ports:
      - 8181:8888
    deploy:
      replicas: 1
    container_name: bucketeer
    env_file:
      - .docker-compose.env
    volumes:
      - "{{ nfs_volume }}:{{ bucketeer_fs_mount }}"
    volumes:
      - "mastersdata:/opt/data/Masters"

volumes:
  {{ nfs_volume }}:
    driver: local
    driver_opts:
      type: nfs
      o: addr={{ nfs_addr }},vers=3,nosuid,noexec,ro
      device: "{{ nfs_path }}"

