version: '3.8'
services:
  bucketeer:
    image: uclalibrary/bucketeer-ucla:{{ dockerhub_tag }}
    ports:
      - {{ bucketeer_ingress_port }}:8888
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '{{ bucketeer_cpu_limit }}'
          memory: {{ bucketeer_mem_limit }}
    container_name: bucketeer
    env_file:
      - bucketeer.env
    volumes:
      - "{{ nfs_volume }}:{{ nfs_mount_path }}"
  bucketeer_large:
    image: uclalibrary/bucketeer-ucla:{{ dockerhub_tag }}
    ports:
      - {{ bucketeer_large_ingress_port }}:8888
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '{{ bucketeer_large_cpu_limit }}'
          memory: {{ bucketeer_large_mem_limit }}
    container_name: bucketeer_large
    env_file:
      - bucketeer_large.env
    volumes:
      - "{{ nfs_volume }}:{{ nfs_mount_path }}"

volumes:
  {{ nfs_volume }}:
    driver: local
    driver_opts:
      type: nfs
      o: addr={{ nfs_addr }},vers=3,nosuid,noexec,ro
      device: "{{ nfs_path }}"

